/* ============================================
    BASE.CSS 
   ============================================ */

   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', system-ui, sans-serif;
    /* Usa a variável para permitir a troca de cores pelo JS */
    background: var(--cor-gradiente-fundo);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* Transição suave para a troca de temas */
    transition: background 0.8s ease;
}

.container {
    display: flex;
    flex-direction: column;
    width: 45vw;            
    max-width: 1200px;
    min-height: 90vh;
    background-color: var(--cor-fundo);
    border-radius: 24px;
    box-shadow: var(--sombra-forte);
    overflow: hidden;
    margin: auto;
    transition: background-color 0.8s ease;
}